@import "./general/partials/mixins.scss";

.header {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;


    input {
        width: 444px;
        height: 59px;
        border: 1px solid #FFFFFF;
        border-radius: 16px;
        background-image: url('../../public/img/search.png');
        background-repeat: no-repeat;
        background-position: 95% 50%;
        padding: 16px 24px;

        &::placeholder {
            color: #CECECE;
        }

    }

    h2 {
        color: #424242;
    }

    &__profile {
        width: 134px;
        height: 118px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__mobile {
        &--logo, &--search {
            display: none;
        }
    }

    &__icons {
        display: none;
    }
}

@include response ($desktop) {
    .header {
        grid-row: 1;
        grid-column: 2;
    }
}

@include response ($mobile) {
    .header {
        background-color: #FFFFFF;
        flex-wrap: wrap;
        padding: 0;
        &__mobile {
            &--search, &--logo {
                display: flex;
            }
        }
        input {
            display: none;
        }

        &__profile {
            width: unset;
            height: unset;
            gap: 16px;
            padding-right: 16px;
            &-logo {
                width: 32px;
                height: 32px;
            }
        }

        &__user {
            display: flex;
            align-items: center;
            gap: 4px;
            padding-left: 16px;
        }

        &__icons {
            display: flex;
            background-color: #d7d7d7;
            flex-basis: 100%;
            height: 24px;
            align-items: center;
            justify-content: flex-end;

            img {
                padding-right: 8px;
            }
        }
    }
}