@import "mixins.scss";

* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    height: 100vw;
    margin: 0;
}


h1 {
    font-family: Roboto;
    text-align: center;
    font-size: 100px;
}

h2 {
    font-family: Noto Sans;
    font-size: 24px;
}

.container {
    display: flex;
    background-color: #F6F6F6;
}

@include response ($desktop) {
    .container {
        display: grid;
        grid-template-columns: 122px 1fr;
        grid-template-rows: auto 1fr;
    }
}

@include response ($mobile) {
    h1 {
        font-size: 50px
    }
}



